<footer class="footer__base">
    <ul class="footer__content">
        <li class="footer__option is-active">
            <a href="profile.html" class="footer__button footer__modalButton" title="Profile">
                <img class="footer__buttonIcon" src="profile/profile_icon.svg" aria-hidden="true" />
                <!-- <span class="footer__buttonText">Profile</span> -->
            </a>
        </li>
        
        <li class="footer__option is-active">
            <a href="tasks.html" class="footer__button footer__modalButton" title="Tasks">
                <img class="footer__buttonIcon" src="tasks/tasks_icon.svg" aria-hidden="true" />
                <!-- <span class="footer__buttonText">Tasks</span> -->
            </a>
        </li>
        
        <li class="footer__option is-active">
            <button class="footer__button footer__modalButton" title="Pay Table" id="togglePayTable">
                <img class="footer__buttonIcon" src="winner/winner_icon.svg" aria-hidden="true" />
                <!-- <span class="footer__buttonText">PayTable</span> -->
            </button>
        </li>

        <li class="footer__option is-active"></li>
            <a href="info.html" class="footer__button footer__modalButton" title="Info">
                <img class="footer__buttonIcon" src="info/info_icon.svg" aria-hidden="true" />
                <!-- <span class="footer__buttonText">Tasks</span> -->
            </a>
        </li>

        <li class="footer__option"></li>
            <button class="footer__button footer__modalButton" title="Instructions" id="toggleInstructions" aria-label="Instructions">
                <span class="footer__buttonIcon" aria-hidden="true">ℹ️</span>
            </button>
        </li>
        
        <li class="footer__option is-active">
            <button class="footer__button footer__toggleButton" id="toggleSound">
                <img class="footer__buttonIcon" src="sound/sound_icon.svg" aria-hidden="true" />
                <!-- <span class="footer__buttonText">Sound</span> -->
            </button>
        </li>
        
        
        
    </ul>
    
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
 
        const footerOptions = document.querySelectorAll('.footer__option');
    
 
        footerOptions.forEach(option => {
            option.addEventListener('click', function() {
 
                footerOptions.forEach(opt => opt.classList.remove('is-active'));
 
                this.classList.add('is-active');
            });
        });
    });
    </script>