<header class="header__base">
    <div class="header__content">
        <div class="header__state">
            <div class="header__prop" title="Coins">
                <span class="header__icon" role="img" aria-label="Coins">
                    <img class="header__img" src="coin/coin_icon.svg" aria-hidden="true" />
                </span>
                <span class="header__value" id="coins">00000</span>
            </div>
            <div class="header__prop" title="Jackpot">
                <span class="header__icon" role="img" aria-label="Jackpot">
                    <img class="header__img" src="jackpot/jp_icon.svg" aria-hidden="true" />
                </span>
                <span class="header__value" id="jackpot">00000</span>
            </div>
            <div class="header__prop" title="Spins">
                <span class="header__icon" role="img" aria-label="Spins">
                    <img class="header__img" src="spins/spin_icon.svg" aria-hidden="true" />
                </span>
                <span class="header__value" id="spins">00000</span>
            </div>
        </div>
    </div>
    <p class="header__just">Just play...</p>
</header>
